DRIVER=~fastapi+~websockets
HOST=0.0.0.0
PORT=3001
COMMAND_START=["/", ""]

# ==================== 数据库迁移工具配置 ====================
DB_MIGRATION_DIR="/app/nonebot/migrations"
DB_OUTPUT_PATH="/app/db/bot_data.db"

# ================= 全局访问控制插件配置 =================
# 是否开启白名单模式（true / false）
ACCESS_CONTROL_WHITELIST_MODE=true
ACCESS_CONTROL_BLACK_USERS=[]
ACCESS_CONTROL_BLACK_GROUPS=[]
ACCESS_CONTROL_WHITE_USERS=[2059928821, 2417185282]
ACCESS_CONTROL_WHITE_GROUPS=[]

# ==================== pngSender 插件配置 ====================
LOCAL_TAILSCALE_IP="100.112.64.94"
LOCAL_PORT="39425"
WHITELIST_QQ=[2417185282, 2303866129]