DRIVER=~fastapi+~websockets
HOST=0.0.0.0
PORT=3001
COMMAND_START=["/", ""]

# ================= 全局访问控制插件配置 =================
# 是否开启白名单模式（true / false）
ACCESS_CONTROL_WHITELIST_MODE=true

# 多个 QQ 或群号用逗号隔开，并用方括号包裹（标准的 JSON 数组格式）
ACCESS_CONTROL_BLACK_USERS=[]
ACCESS_CONTROL_BLACK_GROUPS=[]
ACCESS_CONTROL_WHITE_USERS=[2059928821, 2417185282]
ACCESS_CONTROL_WHITE_GROUPS=[]